@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.greeting {
  /* background-image: url("../images/grey-onblack.jpg"); */

  height: 100vh;

  background-color: #d9e2ec;

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.greeting h1 {
  margin: 0;
}

.greeting-text {
  color: black;
  font-size: 8vw;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.greeting-text span {
  color: red;
}
